@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-white-60Perc: hsla(0, 0%, 100%, 0.6);
    --primary-white-10Perc: hsla(0, 0%, 100%, 0.1);

    --gray-1: #f5f4fa;
    --gray-2: #afb1b8;
    --black-1: #000000;

    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;

    --background-black: #21303a;
    --background-black-2: #2f303a;
    --background-gray: #f5f4fa;
    --background-black-240Perc: hsla(235, 10%, 21%, 0.4);

    --button-filter: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;

    --container-padding: calc((100% - 1200px) / 2);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

.section {
    padding: 94px 0;
}

.menu {
    list-style: none;
}

/* ----------- Header section ----------- */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-black {
    color: var(--logo-black);
}

.logo-white {
    color: var(--primary-white-color);
}

.contac-menu .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link.current,
.contac-menu .link:hover {
    color: var(--accent-color);
}


.icon-email {
    width: 16px;
    height: 11px;
    margin-right: 10px;
}

.icon-telefono {
    width: 10px;
    height: 13px;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 var(--container-padding);
    background: var(--primary-white-color);
    border-bottom: 2px solid #eee;
}

header nav {
    align-items: center;
    display: flex;
    gap: 100px;
}

header nav .nav-menu {
    display: flex;
    list-style: none;
    gap: 80px;
}

header nav .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}

.contac-menu {
    list-style: none;
    display: flex;
    gap: 80px;
}
header nav .nav-menu .link {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
}



.link:hover,
.link:hover .icon-email,
.link:focus .icon-email
.link:hover,
.link:hover .icon-telefono,
.link:focus .icon-telefono {
    fill: #03a9f4;
    color: #2196f3;
}

/* ----------- Button section ----------- */

.hero {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 200px var(--container-padding);
    text-align: center;
    background: linear-gradient(0deg,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/ImagenBg.jpg);
}

.hero .hero-title {
    width: 500px;
    margin: 20px auto;
    font-size: 44px;
    color: var(--primary-white-color);
    text-transform: capitalize;
}

.main-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: capitalize;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button:hover {
    background-color: var(--accent-color-hover);
    justify-content: center;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
}

.modal {
    width: 528px;
    height: 581px;
    margin-top: 3%;

    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.hero .btn-modal {
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    margin: 8px 8px 8px 490px;
    width: 30px;
    height: 30px;
    
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop {
    display: flex;
    padding: 5% 0;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ----------- Benefits section ----------- */

.benefits {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
}

.benefits li {
    list-style: none;
    width: 240px;
}

.benefits li .title {
    text-transform: uppercase;
    color: var(--primary-black-color);
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.icons-detalles {
    width: 70px;
    height: 70px;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 15px;
    height: 120px;
    background-color: #f5f4fa;
    width: 270px;
}

/* ----------- Dedication section ----------- */


.dedication{
    padding-top: 0;
}


.dedication > h2 {
    padding: 30px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-black-color)
}


.dedication .container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.dedication .container ul li {
    list-style: none;
    width: 360px;
}

/* ----------- Team section ----------- */
.team {
background-color: var(--background-gray);
}

.team_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.team_cards li {
    background-color: var(--primary-white-color);
    text-align: center;
    list-style: none;
}

.team_cards li h3{
    margin: 20px 0 10px 0;
}

.team_cards li p {
    margin-bottom: 30px;
}

.team ul li h3 {
    color: var(--primary-black-color);
}

.team h2 {
    padding: 30px 0;
    padding-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

.icon-redes {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.redes-sociales1 {
    display: flex;
    justify-content: center;
    padding-left: 110px;
}

.icon-redes1 {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.icon-social {
    background-color: transparent;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-social {
    background-color: transparent;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-social:hover {
    background-color: #2196f3;
}

.icon-social:hover .icon-redes {
    fill: #ffffff;
}

/* ----------- Portfolio section ----------- */
.portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    list-style: none;
}


.portfolio .menu li button {
    border: none;
    outline: none;
    color: var(--primary-black-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 10px 30px;

    text-decoration: none;
    text-transform: capitalize;
    border-radius: 4px;
}

.portfolio .menu li button:hover,
.portfolio .menu li button.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;

    display: flex;
    width: 1200px;
    
}

.flex-list {
    display: flex;
    justify-content: space-between;

}

.card-container{
    width: 370px;

    background: var(--primary-white-color);
    border: 1px solid #eeeeee;
}

.card-container:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-body{
    padding: 20px 24px;
}

.card-animation{
    position: absolute;
    width: 370px;
    top: 0;
    height: 294px;
    
         

    background: rgba(33, 150, 243, 0.9);
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;

    transform: translateY(105%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container:hover .card-animation{
    transform: translateY(0%);
}

.card-image {
    position: relative;
    overflow: hidden;
}



/* ----------- customer section ----------- */
.customer-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: #212121;
    margin-bottom: 44px;
}

ul {
    list-style: none;
}

.customer-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 150px;
}

.icon-customer {
    width: 170px;
    height: 81px;
    border: 1px solid #afb1b8;
    border-radius: 15px;
    fill: #afb1b8;
}

.icon-customer:hover {
    border-color: #2196f3;
    fill: #2196f3
}


/* ----------- footer section ----------- */

.footer {
    display: flex;
    padding-bottom: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-addreess {
    display: flex;
    flex-direction: column;
    margin-left: 215px;
}

.footer-logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
}

.footer-location {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color)
}

.footer-email,
.footer-phone {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer-location:hover,
.footer-email:hover,
.footer-phone:hover {
    color: #ffffff;
}

.footer1 {
    margin-top: 62px;
}

.footer-logo1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 120px;
    margin-bottom: 10px;
}
