
.benefits-list {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    }

    .benefits li {
        list-style: none;
        width: 240px;
    }

    .benefits li .title {
        text-transform: uppercase;
        color: $primary-black-color;
        padding-left: 10px;
    }

.icons-detalles {
    width: 70px;
    height: 70px;
}

.icons-list {
    @extend %flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
    border-radius: 15px;
    height: 120px;
    background-color: $button-filter;
    width: 450px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.title {
margin-left: 15px;
margin-bottom: 10px;
align-items: center;
justify-content: center;
display: flex;
}

.description{
margin-left: 15px;
margin-bottom: 30px;
align-items: center;
justify-content: center;
display: flex;
}