
.benefits-list {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
   
    }


    .benefits-list li {
        list-style: none;
        width: 240px;
    }

    .benefits-list li .title {
        text-transform: uppercase;
        color: $primary-black-color;
        
    }

.icons-detalles {
    width: 70px;
    height: 70px;
}

.icons-list {
    @extend %flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
    border-radius: 15px;
    height: 120px;
    background-color: $button-filter;
    
    gap: 10px;
    
    
}

.title {
margin-left: 15px;
margin-bottom: 10px;
align-items: center;
justify-content: center;

}

.description{
margin-left: 15px;
margin-bottom: 30px;
align-items: center;
justify-content: center;

}