
.customer-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: $primary-black-color;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.customer-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 150px;
    flex-wrap: wrap;
}

.icon-customer {
    width: 170px;
    height: 81px;
    border: 1px solid $gray-2;
    border-radius: 15px;
    fill: $gray-2;
    flex-wrap: wrap;
}

.icon-customer:hover {
    border-color: $color-main;
    fill: $color-main;
}