
.dedication {
    padding-top: 0;
}


.dedication>h2 {
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-black-color;
}


.dedication .container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.dedication .container ul li {
    list-style: none;
    width: 360px;
}

.images_dedication{
    justify-content: center;
    margin: 15px;
    align-items: center;
}