
.footer {
    padding-bottom: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-black-2;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.footer1{
    justify-content: center;
}
.footer-container {
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    flex-wrap: wrap;
}

.footer-addreess {
    display: flex;
    flex-direction: column;
  align-items: center;

}

.footer-logo {
    color: $color-main;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
    align-items: center;
}

.footer-location {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    align-content: center;
}

.footer-email,
.footer-phone {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer-location:hover,
.footer-email:hover,
.footer-phone:hover {
    color: $primary-white-color;
}

.footer-logo1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    justify-content: center;
    display: flex;
}

h3 .footer-logo1 {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-media1{
    background-color: transparent;
    @extend %flex;
    border-radius: 50%;
    gap: 10px;
    
}

.icon-media1 {
    fill: $primary-white-color;
}

.icon-social {
    background-color: rgba(255, 255, 255, 0.1);
    
}

.icon-social:focus .icon-media1,
.icon-social:hover .icon-media1 {
    fill: $primary-white-color;
}

.social-media1 .icon-social.current,
.social-media1 .icon-social:focus,
.social-media1 .icon-social:active,
.social-media1 .icon-social:hover {
    background-color: $color-main-hover;
}
