
.contac-menu .link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.nav-menu .link:hover,
.nav-menu .link.current,
.nav-menu .link:focus,
.nav-menu .link:active {
    color: $color-main-hover;
}


.contac-menu .link.current,
.contac-menu .link:focus,
.contac-menu .link:active,
.contac-menu .link:hover {
    color: $color-main-hover;
}

.icon-email {
    width: 16px;
    height: 11px;
    margin-right: 10px;
}

.icon-telefono {
    width: 10px;
    height: 13px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

header nav .nav-menu .link {
    color: $primary-black-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
}



.icon-email .link:hover,
.icon-email .link.current,
.icon-email .link:focus,
.icon-email .link:active,
.icon-telefono .link:hover,
.icon-telefono .link.current,
.icon-telefono .link:focus,
.icon-telefono .link:active,

.link:hover .contac-menu .icon-email,
.link:hover .icon-telefono,
.link:focus .icon-email,
.link:focus .icon-telefono {
    fill: #03a9f4;
    color: $color-main;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}



.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: white;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: black;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
}

.link-mobile{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 302px;
}

.link-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.media-header{
    display: flex;
}
.media-header .media{      
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    display: flex;
    justify-content: center;
    list-style: none;
}


.page-header {
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.container-header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    display: flex;
        
}

    
    .menu .link {
        padding: 10px;
        color: inherit;
        text-decoration: none;
    }
    
    .menu .link:hover,
    .menu .link:focus {
        text-decoration: underline;
    }
    
    .menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }
    
@media screen and (max-width: 768px) {
   
    .page-header2{
        display: none;
    }
    .menu {
        display: none;
    }

    .container-header .link{
        display: none;
    }

   
}

 @media screen and (min-width: 769px) {

  .page-header {
    display: none;
  }

   .menu-container {
       display: none;
   }
}