
.portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    list-style: none;
}

.portfolio .menu li button {
    border: none;
    outline: none;
    color: $primary-black-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 10px 30px;

    text-decoration: none;
    text-transform: capitalize;
    border-radius: 4px;
}

.portfolio .menu li button:hover,
.portfolio .menu li button.current {
    color: $primary-white-color;
    background-color: $color-main;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;

    display: flex;
    width: 1200px;

}

.flex-list {
    display: flex;
    justify-content: space-between;

}

.card-container {
    width: 370px;

    background: $primary-white-color;
    border: 1px solid #eeeeee;
}

.card-container:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-body {
    padding: 20px 24px;
}

.card-animation {
    position: absolute;
    width: 370px;
    top: 0;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    padding: 63px 24px;

    transform: translateY(105%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container:hover .card-animation {
    transform: translateY(0%);
}

.card-image {
    position: relative;
    overflow: hidden;
}