
.team {
    background-color: $background-gray;

}

    .team h2 {
        padding: 30px 0;
        font-family: 'Roboto';
        padding-top: 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-black-color;
    }

    .team ul li h3 {
        color: $primary-black-color;
    }

.team_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
    }

    .team_cards li {
        background-color: $primary-white-color;
        text-align: center;
        list-style: none;
        justify-content: center;
        margin-top: 30px;
        
    }

    .team_cards li h3 {
        margin: 20px 0 10px 0;
    }

    .team {
        box-shadow: 0px 2px 1px 0px #00000033;
        
        box-shadow: 0px 1px 1px 0px #00000024;
        
        box-shadow: 0px 1px 3px 0px #0000001F;
    }

.icon-media {
    @extend %size;
    fill: $gray-2;
}


.icon-media1 {
    @extend %size;
    fill: $primary-black-color;
}

.social-media {
    @extend %flex;
    gap: 10px;
    
}


.social-media1 {
    @extend %flex;
    
}


.icon-social {
    background-color: transparent;
    width: 44px;
    height: 44px;
    @extend %flex;
    align-items: center;
    border-radius: 50%;
    }

  
    .icon-social:focus .icon-media,
    .icon-social:hover .icon-media {
        fill: $primary-white-color;
    }

    .social-media .icon-social.current,
    .social-media .icon-social:focus,
    .social-media .icon-social:active,
    .social-media .icon-social:hover {
        background-color: $color-main-hover;
    }
    
