
:root {
    --primary-white-60Perc: hsla(0, 0%, 100%, 0.6);
    --primary-white-10Perc: hsla(0, 0%, 100%, 0.1);
    --gray-1: #f5f4fa;
    --black-1: #000000;
    
    --background-black-240Perc: hsla(235, 10%, 21%, 0.4);
    --button-primary-hover: #188ce8;
    --text-white-opacity: #ffffff99;
    --container-padding: calc((100% - 1200px) / 2);
}

$color-main: #2196f3;
$color-main-hover:#188ce8;
$primary-white-color:#ffffff;
$primary-text-color: #757575;
$logo-black:#000000;
$primary-black-color: #212121;
$button-filter: #f5f4fa;
$background-gray: #f5f4fa;
$gray-2: #afb1b8;
$background-black-2: #2f303a;
$background-black: #21303a;